*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

body {
    background-color: #e2e4e8;
}
nav {
    display: flex;
    background: hsla(0,0%,100%, .25);
    backdrop-filter: blur 4px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 16px 10px -18px #6a7da8;
}

.logo_navbar {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

ul a {
    color: gray;
    text-decoration: none;
}

a:hover {
  color: #4367ba;
  cursor: pointer;
  font-weight: bold;
}

.navlink_contacto {
    background-color: white;
    font-weight: bold;
}